snippet f
func $1($2) $3 {
	$4
}
endsnippet

snippet if
if $1 {
	$2
}
endsnippet

snippet ret
return $0
endsnippet

snippet for
for ${1} {
	$2
}
endsnippet

snippet foi "for i"
for i := 0; i < ${1}; i++ {
	$2
}
endsnippet

snippet todo "// TODO " b
// TODO: $0
endsnippet
