snippet f "Public function" b
public function ${1:name}(${2}) {
	${VISUAL}${5:return null;}
}
$0
endsnippet

snippet __c "__construct()" b
public function __construct(${1:$dependencies}) {${1/\$(\w+)(, )*/\n\t\t$this->$1 = $$1;/g}
}
$0
endsnippet

snippet du "Dump" b
dump($${1});
endsnippet

