snippet #!
#!/usr/bin/env bash
endsnippet

snippet todo "todo" b
# TODO: $0
endsnippet

snippet if "if" b
if [ $1 ]; then
  $2
fi
endsnippet

snippet for "for loop" b
for $1 in "$2"; do
  $3
done
endsnippet

snippet while "while loop" b
while $1; do
  $2
done
endsnippet

snippet f "function" b
$1() {
  $2
}
endsnippet
